@media (min-width: 1024px) {
    .hamburger {
        display: none;
    }

    .silent-links {
        display: block;
        margin-right: 20px;
        font-size: 20px;
        color: white;
        text-decoration: none;
    }







    footer{
        justify-content: space-between;
    }
}