@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .silent-links {
        display: block;
        margin-right: 20px;
        font-size: 18px;
        color: white;
        text-decoration: none;
    }










    footer{
        flex-direction: row;
        justify-content: space-between;
    }
}